
ion-header ion-icon.back-button-icon.icon {
    color: white;
}

.removeMargin {
   //margin-top: 0;
   height: 10px !important;
}

.noBottomMargin {
    margin-bottom: 0px !important;
}

.ng-invalid.ng-pristine.ng-dirty
{
    border : 1px solid red !important;
}